<section class="content my-3">
    <div class="container bg-white">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 my-3 mb-3 rounded shadow">
                <ul class="nav nav-tabs my-3 mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item bg-light fs-6" role="presentation">
                        <button class="nav-link active" id="my-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#my-profile" type="button" role="tab" aria-controls="my-profile"
                            aria-selected="true">Thông tin cá nhân
                        </button>
                    </li>
                    <li class="nav-item bg-light fs-6" role="presentation">
                        <button class="nav-link" id="my-orders-tab" data-bs-toggle="pill"
                            data-bs-target="#my-orders" type="button" role="tab" aria-controls="my-orders"
                            aria-selected="false">Đơn hàng của tôi
                        </button>
                    </li>
                </ul>
                <div class="tab-content mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="my-profile"
                        role="tabpanel" aria-labelledby="my-profile-tab">
                        <div class="vstack gap-3">
                            <p class="p-1 border border-primary p-3 rounded fs-6">Họ và Tên: {{user.name}}</p>
                            <p class="p-1 border border-primary p-3 rounded fs-6">Username: {{user.username}}</p>
                            <p class="p-1 border border-primary p-3 rounded fs-6">Email: {{user.email}}</p>
                            <div class="d-flex justify-content-around">
                                <a href="/auth/logout" class="btn btn-primary align-self-center text-uppercase">Đăng xuất</a>
                                <a href="/profile/edit" class="btn btn-primary align-self-center text-uppercase">Chỉnh sửa</a>
                                <a href="/auth/delete" class="btn btn-secondary align-self-center text-uppercase">Xóa tài khoản</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="my-orders"
                        role="tabpanel" aria-labelledby="my-orders-tab">
                        {{#if orderList}}
                        {{#each orderList}}
                        <div class="card">
                            <div class="card-header active">
                                <h5 class="mb-0">
                                    <a href="{{this.link}}" class="header">
                                        <span class="label order-id">{{this.id}}</span>
                                    </a>
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="cart-item d-flex mb-3">
                                    <a href="{{this.product.link}}" class="img">
                                        <img src="{{this.product.imagesList.[0]}}" class="img-fluid">
                                    </a>
                                    <div class="item-caption d-flex w-100">
                                        <div class="item-info ms-3">
                                            <a href="{{this.product.link}}" class="ten">{{this.product.name}}</a>
                                            <div class="_number">SL: {{this.product.quantity}}</div>
                                        </div>
                                        <div class="item-price ms-auto d-flex flex-column align-items-end">
                                            <div>
                                                <span class="new-price">{{this.productPrice}}</span>
                                                <span> ₫</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>(và {{this.numberProducts}} sản phẩm khác)</div>
                                <hr class="mb-3">
                                <div class="group d-flex justify-content-between align-items-center">
                                    <strong class="text-uppercase">Tổng cộng:</strong>
                                    <p>
                                        <input type="text" name="total" value="{{totalPrice.price}}" class="_total-price d-none">
                                        <span class="_total">{{this.totalPrice}}</span>
                                        <span> ₫</span>
                                    </p>
                                </div>
                                <div>Tình trạng: {{this.status}}</div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>