<!-- header -->
<nav class="navbar navbar-expand-md bg-white navbar-light">
    <div class="container">
        <!-- logo  -->
        <a class="navbar-brand" href="/" style="color: #CF111A;"><b>MiHiShop</b></a>

        <!-- navbar-toggler  -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <!-- form tìm kiếm  -->
            <form class="form-inline ml-auto my-2 my-lg-0 mr-3" action="/search" method="post">
                <div class="input-group" style="width: 520px;">
                    <input type="text" class="form-control" aria-label="Small" name="keyword"
                        placeholder="Nhập sản phẩm cần tìm kiếm...">
                    <div class="input-group-append">
                        <button type="submit" class="btn" style="background-color: #CF111A; color: white;">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- ô đăng nhập đăng ký giỏ hàng trên header  -->
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                <li class="nav-item">
                    <a class="btn btn-outline-danger text-uppercase" href="/cart" style="display:inline-block">
                        Giỏ Hàng</a>
                </li>
                <li class="nav-item ms-4 dropdown d-flex align-items-center">
                    <div class="dropdown-toggle btn btn-outline-primary" role="button" id="accountMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.name}}
                    </div>
                    <ul class="dropdown-menu py-3" aria-labelledby="accountMenuLink">
                        <li><a class="dropdown-item" href="/profile">Tài khoản</a></li>
                        <li><a class="dropdown-item" href="/auth/logout">Đăng xuât</a></li>
                    </ul>
                </li>
                {{/if}}
                {{#unless user}}
                <li class="nav-item ms-4">
                    <a class="btn btn-outline-danger rounded text-uppercase" href="/auth/login">
                        Tài Khoản
                    </a>
                </li>
                {{/unless}}
            </ul>
        </div>
    </div>
</nav>

<!-- thanh "danh muc san pham" đã được ẩn bên trong + hotline + ho tro truc tuyen -->
<section class="navBar-tail">
    <div class="container text-white">
        <div class="row justify">
            <div class="col-lg-3 col-md-5">
                <div class="categoryHeader">
                    <div class="productHeader text-white">
                        <i class="fa fa-bars"></i>
                        <span class="text-uppercase font-weight-bold ml-1">Danh mục sản phẩm</span>
                    </div>
                    <!-- CATEGORIES -->
                    <div class="category-content">
                        <ul class="ps-0">
                            {{#if headerCategories}}
                            {{#each headerCategories}}
                            <li class="d-flex">
                                <a class="me-auto" href="/search?categoryId={{this.parent.id}}&page=1">{{this.parent.name}}</a>
                                <ul>
                                    <li class="liheader"><a href="/search?categoryId={{this.parent.id}}&page=1"
                                            class="header text-uppercase">{{this.parent.name}}</a></li>
                                    <div class="content trai">
                                        {{#if this.children}}
                                        {{#each this.children}}
                                        <li><a href="/search?categoryId={{this.id}}&page=1">{{this.name}}</a></li>
                                        {{/each}}
                                        {{/if}}
                                    </div>
                                </ul>
                            </li>
                            {{/each}}
                            {{/if}}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>