<div class="card">
    <a href={{this.link}} class="single-product" style="text-decoration: none; color: black;" data-toggle="tooltip"
        data-placement="bottom" title="{{this.name}}">
        <img class="card-img-top anh" src="{{this.imageLink}}" alt="{{this.name}}">
        <div class="card-body product-content mt-3">
            <h3 class="card-title ten">{{this.name}}</h3>
            <div class="gia d-flex align-items-baseline">
                <div class="new-price">{{this.price}} đ</div>
                {{#if this.discount}}
                <div class="old-price text-muted ms-2">{{this.oldPrice}} đ</div>
                <div class="sale ms-auto me-5">-{{this.discount}}%</div>
                {{/if}}
            </div>
            <ul class="d-flex ps-0" style="list-style: none;">
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><span class="text-muted">{{this.view}} Lượt xem</span></li>
            </ul>
        </div>
    </a>
</div>