<section class="breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-0 py-3 bg-light">
            <li class="breadcrumb-item"><a class="text-danger" href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </div>
</section>

<section class="content my-4">
    <div class="container">
        <div class="product bg-white" style=" width: 100%;">
            <div class="items">
                <div class="row">
                    {{#if products}}
                    {{#each products}}
                    <div class="col-lg-3 col-md-4 col-xs-6 item">
                        {{> item-card}}
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>


            <!-- pagination bar -->
            <div class="my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        {{#unless disablePrev}}
                        <a class="mx-1 btn btn-outline-danger" href="{{firstLink}}" role="button">&laquo;</a>
                        <a class="mx-1 btn btn-outline-danger" href="{{prevLink}}" role="button">&lsaquo;</a>
                        {{/unless}}
                        <div class="mx-1 btn btn-outline-danger disabled">{{page}}</div>
                        {{#unless disableNext}}
                        <a class="mx-1 btn btn-outline-danger" href="{{nextLink}}" role="button">&rsaquo;</a>
                        <a class="mx-1 btn btn-outline-danger" href="{{lastLink}}" role="button">&raquo;</a>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>